@model IEnumerable<DAS.Models.ViewModel.DoctorList>

@{
    ViewBag.Title = "DoctorFilterResult";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2 style="text-align:center;">Doctor Filter Result</h2>
<hr />

<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorDesignation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorSpec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospitalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChamberCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChamberArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <div class="col-md-12" style="height:100px; background-color:#bab4b4; border-radius:30px;margin-bottom:20px;">
        <div class="col-md-4" style="margin-top:2%;">
           Name: @item.DoctorName <br />
           Designation: @item.DoctorDesignation <br />
           Specilization: @item.DoctorSpec
        </div>
        <div class="col-md-5" style="margin-top:2%;">
            Hospital Name: @item.HospitalName <br />
            City: @item.ChamberCity <br />
            Appointment Fee:@item.Fee
        </div>
        <div class="col-md-3">
            <a href="../../Home/ViewDoctorProfile?id=@item.DoctorId" class="btn btn-primary" style="margin-left:40%;margin-top:12%">View Profile</a>
        </div>
    </div>
    <br />
    <hr />
    
}

