@model IEnumerable<DAS.Models.ViewModel.AppointmentListVMDoctor>

@{
    ViewBag.Title = "AppointmentList1";
    Layout = "~/Views/Shared/_Layout_Doctor.cshtml";
}

<h2>AppointmentList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChamberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChamberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaitentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pre_visit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChamberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChamberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaitentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pre_visit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDate)
        </td>
    </tr>
}

</table>
